#breadcrumbs {
    padding: 20px 0;

    .uk-breadcrumb {
        >li {
            font-family: gothamBook;
        }

        .active {
            font-family: gothamBlack;
            text-transform: uppercase;


            a {
                color: #07dd74;
                font-size: 12px;
            }
        }
    }

    .uk-breadcrumb> :nth-child(n+2):not(.uk-first-column)::before {
        content: ">";
        color: #9c9c9c;
        font-size: 12px;
        margin: 0 10px;
    }
}

#sobreHeader {
    background: url(../../assets/images/banner-sobre.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;

    .contentHeader {
        h2 {
            text-transform: uppercase;
            font-family: gothamBlack;
            color: #fff;
        }

        p {
            color: #fff;
            font-family: gothamBook;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}


#history {
    padding: 80px 0;

    h2 {
        text-transform: uppercase;
    }

    p {
        color: #000;
    }

    .firstBlock {
        color: #07dd74;
        text-transform: uppercase;
        font-size: 18px;
    }

    .videoBlock {
        p {

            @media(min-width:1200px) {
                margin-top: 60px;
            }
        }
    }
}

#fachada {
    .greenBlock {
        background: #007e4a;
        height: 100%;
        padding: 60px 80px;

        .missao,
        .visao,
        .valores {
            margin: 30px 0;
            border-left: 1px solid #fff;
            padding: 0 20px;

            h4 {
                color: #fff;
                text-transform: uppercase;
                margin-bottom: 5px;
            }

            p {
                color: #fff;
                font-size: 14px;
                margin: 5px 0;
            }

            ul {
                padding: 0 0 0 18px;
                margin: 0;

                >li {
                    color: #fff;
                    font-size: 14px;
                    margin: 5px 0;
                    font-family: gothamBook;
                }
            }
        }
    }


    .fotoFachada {
        background: url(../../assets/images/fachada-axt.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
    }
}